body {
    width: 100vw;
    height: 100vh;
}
header{
    background: linear-gradient(to right, #130ff6, #13a8f2, #14efeb);
}
.container {
    padding: 20px
}

.card {
  background-color: #130ff6;
  color: white;
  padding: 10px;
}

.today-new {
    padding:30px;
    border: black solid 2px;
    border-radius: 5px;
}

.today h2 {
    font-size: 20px;
}